/*
 * Author:   A. Luedecke
 * Purpose:  Index styles for desktop computers
 * Created:  Jun/19/2018
 */
body {
    background-image:url("../res/praxis_1920.jpg");
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    border-color:#F0F0F0;
    border-style:solid;
    margin-left:10px;
    margin-right:10px;
    padding-left:10px;
    padding-right:10px; 
}

.active {
    background-color:#A0A0B0;
}

.dashboard {
    list-style-type:none;
    margin-top:0;
    margin-bottom:0;
    width:100%;
    text-align:center;
}

.dashboard ul {
    margin-top:0;
    padding:0 0 10px;
}

.dashboard li {
    display:inline-block;
    background-color: #606080;
    border-style:solid;
    border-width:1px;
}

.dashboard li:hover {
    background-color:#F0F0F0;
}

.dashboard a {
    color:#F0F0F0;
    display:block;
    font-size:1em;
    font-weight:bold;
    margin-left:20px; 
    margin-right:20px;
    margin-top:0;
    padding:10px 6px 15px 0;
    text-decoration:none;
}

.dashboard a:hover {
    color:#606080;
}

.dummy {
    color:#F0F0F0;
}

.icon {
    border-style:none;
}

.link {
    color:#808080;
    font-family:Tahoma;
}

.reframe{
    min-width:300px;
    margin-left:10px;
    margin-right:10px
}

.text {
    background-color:#F0F0F0;
    color:#404060;
    font-family:Tahoma;
    font-size:small;
    text-align:left;
    /*width:70%;*/
}

.title {
    color:#606080;
    text-align:center;
    vertical-align:middle;
}

.top-menu {
    background-color:rgb(32, 111, 175);
    list-style-type:none;
    margin-top:0;
    margin-bottom:0;
    height:54px;
    width:100%;
}

.top-menu ul {
    margin-top:0;
    padding:6px 0 10px;
}

.top-menu li {
    display:inline-block;
}

.top-menu li:last-child a {
    margin-right:0;
    padding-right:0;
}

.top-menu a {
    border-bottom:none;
    color:#fff;
    display:block;
    font-size:1em;
    margin-right:20px;
    margin-top:0;
    padding:6px 6px 15px 0;
    text-decoration:none;
}

.top-menu a:hover {
    border-bottom:none;
    color:gainsboro;
}   
 

.zeiten table {
    left:50%;
	vertical-align:middle;
}

.zeiten td {
    background-color:#D0F0FF;
    font-size:large;
    font-weight:bold;
    margin: 0.1em;
    padding-left:10px;
    padding-right:10px;  
	text-align:center;
}

.zeiten td.ex {
	font-weight: normal;
}

.zeiten th {
    background-color:#A0B0BB;
    color:#F0F0F0;
    font-size:large;
    font-weight:bold;
    margin: 0.1em;
    padding-left:10px;
    padding-right:10px;  
	text-align:center;
}
