body {
    background-color:#FDFFD0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.output {
    background-color:#F0F0F0;
    font-size:small;
}

.txt {
    width:400px;
}

.vacation table {
    left:50%;
    vertical-align:middle;
}
    
.vacation td {
    margin:0.1em;
    padding-left:0;
    padding-right:20px;  
}
