/*
 * Author:   A. Luedecke
 * Purpose:  styles for substitution edit form
 * Created:  Aug/08/2018
 */
 
body {
    background-color:#F0FFFF;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.buttons {
    position:absolute;
    bottom:10px;
    right:10px;  
}

div.buttons input {
    width:95px;
}

div.stamp {
    position:absolute;
    bottom:10px;
    left:10px;
    font-size:x-small;
}

fieldset {
    background-color:#B0E0FF;
}

label {
    font-size:small;
}

.ctls {
    width:50%;
}

.ctls td {
    width:85%;   
}

.ctls td.lbl {
    width:15%;
}

.grid {
    background-color:#D0D0D0;
    height:550px;
    overflow:auto;
}

.grid table {
    background-color:#FFFFFF;
    border-collapse:collapse;
    font-size:small;
    width:100%;
}

.grid td {
    border-color:#808080;
    border-style:solid;
    border-width:1px;
    padding-left:10px;
    padding-right:25px;
    width:25%;
}

.grid tr:hover {
    background-color:#D0E0FF;
    cursor:pointer;
}

.grid tr.selected {
    background-color:#FF8080;
    color:#FFFFFF;
    cursor:cell;
}

.head {
    background-color:#000000;
    border-color:#808080;
    border-style:solid;
    border-width:1px;
}

.head table {
    background-color:#000000;
    border-collapse:collapse;
    font-size:small;
    width:100%;
}

.head td {
    border-color:#FFFFFF;
    border-style:solid;
    border-width:1px;
    color:#FFFFFF;
    padding-left:10px;
    padding-right:25px;
    width:25%;
}

.txt {
    background-color:#F0F0F0;
    border-style:solid;
    border-width:1px;
    font-family:'Courier New', Courier, monospace;
    font-size:small;
    height:17px;
    width:100%;
}
